## Builds ##
build
dist
docs
coverage

## Dependencies ##
node_modules
package-lock.json

## Package manager ##
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

## Env ##
.env

## intellij ##
.idea/

## VSCode ##
.vscode

## Logs ##
logs
*.log

## .turbo ##
.turbo
